<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>hello</title>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <link rel="stylesheet" type="text/css" href="/static/table.css">
</head>

<body>

<form id="input_form">
    Salary: <input type="number" name="salary"><br>
    Want to have: <input type="number" name="goal"><br>
    <input type="submit" value="Submit">
</form>

<table id="my_table" class="table-fill" style="display:none">
    <thead>
    <tr>
        <th class="text-center">Percent</th>
        <th class="text-center">ResultIncome</th>
        <th class="text-center">Time</th>
    </tr>
    </thead>

    <tbody id="table_body" class="table-hover">
    <tr class="row_template">
        <td class="text-center percent">{{ .Percent }}</td>
        <td class="text-center result_income">{{ .ResultIncome }}</td>
        <td class="text-center time">{{ .Time }}</td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" src="/static/table.js"></script>

</body>
</html>